---
const apkUrl = 'https://github.com/turcaman/turcanime/releases/download/v1.9.4-202606271651/turcanime-1.9.4.apk';
const version = 'v1.9.4';
---

<a
	href={apkUrl}
	class="btn-primary inline-flex items-center justify-center min-w-[140px]"
	download
>
	Descargar app {version}
</a>